{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"jsx": true,
		"useJSXTextNode": true,
		"ecmaVersion": 2018,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"ignorePatterns": [
		"/out"
	],
	"plugins": [
		"@typescript-eslint",
		"roblox-ts",
		"prettier",
		"simple-import-sort"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:roblox-ts/recommended",
		"plugin:prettier/recommended"
	],
	"rules": {
    	"prettier/prettier": "error",
    	"simple-import-sort/imports": "error",
    	"simple-import-sort/exports": "error",
    	"@typescript-eslint/consistent-type-imports": ["error", { "prefer": "type-imports" }],
    	"@typescript-eslint/array-type": ["error", { "default": "generic" }],
    	"@typescript-eslint/no-namespace": ["error", { "allowDeclarations": true }],
    	"@typescript-eslint/no-empty-object-type": "off",
    	"@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }],
    	"roblox-ts/lua-truthiness": "off",
    	"curly": ["error", "all"],
    	"no-else-return": "error"
  }
}

